# Server Configuration
PORT=5050
NODE_ENV=production

# Superadmin Root Credentials (Secret - never commit or show on website)
ADMIN_USERNAME=admin
ADMIN_PASSWORD=PrintFlow#Secure2026!Adm

# JWT Secret
JWT_SECRET=printflow_jwt_secret_super_secure_key_2026

# Geoapify API Key
GEOAPIFY_KEY=dde88d34825a44a4b6883e59f79f4818
